@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Azure Architecture Challenge Test Page</h2>

</div>

<div class="row">
    <div class="col-md-4">
        <h3>Tests</h3>

        <div class="form-group">
            <button type="button" class="btn btn-primary" id="verifyFunction">Verify Function App</button>
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-primary" id="verifyLogic">Verify Logic App</button>
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-primary" id="loadTable">Load Table</button>
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-primary" id="verifyTable">Verify Table</button>
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-primary" id="loadQueue">Load Queue</button>
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-primary" id="verifyQueue">Verify Queue</button>
        </div>

    </div>
    <div class="col-md-4">
        <h3>Results</h3>
        <div id="currentTest">

        </div>
        <div id="results">
        </div>
    </div>
    @section scripts {

        <script src="~/js/test.js"></script>

    }
</div>